<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408499086073-rn588sh9a3a9197qjcj0c5fpajpp60e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408499086073-rn588sh9a3a9197qjcj0c5fpajpp60e4</string>
	<key>API_KEY</key>
	<string>AIzaSyCUfmMYw0czQ4-jQ0tqiyB5_oUAt7y-zjw</string>
	<key>GCM_SENDER_ID</key>
	<string>408499086073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexeymalkov.dz-AlexeyMalkov</string>
	<key>PROJECT_ID</key>
	<string>vktestapp-de049</string>
	<key>STORAGE_BUCKET</key>
	<string>vktestapp-de049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408499086073:ios:e213330c6ac88cd3a53828</string>
	<key>DATABASE_URL</key>
	<string>https://vktestapp-de049.firebaseio.com</string>
</dict>
</plist>